* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0259f0;
}

.content {
  text-align: center;
  padding: 2% 6%;
  color: #fff;
}

.content h2 {
  font-family: bebas neue;
  font-size: 4rem;
  margin: 0;
}

.content h4 {
  font-family: montserrat;
  margin: 0;
  font-style: 24px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 10px;
  margin-bottom: 5%;
}

.content p {
  text-align: justify;
  font-size: 15px;
  line-height: 1.9;
}

.box {
  background: linear-gradient(to right, #ee0979, #ff6a00);
  height: 15px;
  width: 100%; /* scroll-based animations with CSS-only / Js bata chai 0%*/
  position: fixed;
  top: 0;
  border-radius: 0 15px 15px 0;
  z-index: 1000;

  /* scroll-based animations with CSS-only */
  scale: 0 1;
  transform-origin: left;

  /* scroll-based animations with CSS-only */
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
}

/* scroll-based animations with CSS-only */

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}
